In [3]:
import pandas as pd
import numpy as np

In [10]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [11]:
def funtion1():
    l1 = pd.array([10,20,30,40,50,60])
    print(l1)

funtion1()

<IntegerArray>
[10, 20, 30, 40, 50, 60]
Length: 6, dtype: Int64

In [8]:
#2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [12]:
def funtion2():
    a = [2, 4, 6, 8, 10] 
      
    a = pd.Series(a) 
    print("Pandas Series and type") 
    print(a) 
    print(type(a)) 
      
    print("\nConvert Pandas Series to Python list") 
    print(a.tolist()) 
    print(type(a.tolist()))

funtion2()

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [13]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [17]:
def funtion3():
    a = pd.Series([2, 4, 6, 8, 10])
    b = pd.Series([1, 3, 5, 7, 9])

    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)

funtion3()

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [18]:
#4. Write a Pandas program to convert a dictionary to a Pandas series.

In [14]:
def funtion4():
    p1 = ({"name":"abc","age":25,"id":1234})
    print("before convert:")
    print(p1)
    s1 = pd.Series(p1)
    print("after convert:")
    print(s1)

funtion4()

before convert:
{'name': 'abc', 'age': 25, 'id': 1234}
after convert:
name     abc
age       25
id      1234
dtype: object

In [ ]:
#5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [21]:
def funtion5():
    a = np.array([10, 20, 1, 2, 3, 4, 5, 6, 7])
    print(a)
    b = pd.Series(a)
    print(b)

funtion5()

[10 20  1  2  3  4  5  6  7]
0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int64

In [22]:
#6. Write a Pandas program to change the data type of given a column or a Series.

In [30]:
def funtion6():
    a = pd.Series(['1','2','3','4','7','8'])
    print(a)
    b = pd.to_numeric(a, errors='coerce')
    print(b) 
    
funtion6()

0    1
1    2
2    3
3    4
4    7
5    8
dtype: object
0    1
1    2
2    3
3    4
4    7
5    8
dtype: int64

In [31]:
#7. Write a Pandas program to convert a given Series to an array.

In [5]:
def funtion7():
    s1 = pd.Series(['100','200','300','400','500','600'])
    print("original string:")
    print(s1)
    print("array:")
    a = s1.values
    print(a)
    print(type(a))

funtion7()

original string:
0    100
1    200
2    300
3    400
4    500
5    600
dtype: object
array:
['100' '200' '300' '400' '500' '600']
<class 'numpy.ndarray'>

In [6]:
#8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [7]:
def funtion8():
    p1 = ({"name":"P1","age":25,"id":1234})
    p2 = ({"name":"P2","age":35,"id":456})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    
    df = pd.DataFrame([s1,s2])
    
    print(df)

funtion8()

  name  age    id
0   P1   25  1234
1   P2   35   456